/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #D8D8D8;
}

.header {
  font-weight: bold;
  padding: 10px;
  color: #2B3467;
  border-bottom: 5px solid #2B3467;
}

h1, h2, h3 {
  font-weight: bold;
  padding: 20px;
  color: #2B3467;
}

p {
  color: #2B3467;
  font-weight: bold;
}

ol {
  list-style: none;
} 

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  
}

.highscore-btn {
  display: flex;
  justify-content:space-between;
  
}

.timer {
  display: none;
}

.quiz-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start-title {
  max-width: 80%;
  margin-bottom: 50px;
}

.start-title p {
  margin-bottom: 20px;
}

.question-header {
  margin-bottom: 20px;
}

.choices {
  display: flex;
  flex-direction: column;
}

.question-button {
  margin-bottom: 10px;
}

/* .hide {
  display: none;
} */

.answer-result {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
}

#end-screen {
  text-align: center;
}

#initials {
  width: 50px;
}

/* Highscores.html Styles */
.highscore-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.start-text {
  max-width: 50%;
  margin: 0 auto;
}

.highscore-list-item {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highscore-list-item .initials {
  font-weight: bold;
  font-size: 20px;
}

.highscore-list-item .score {
  font-size: 20px;
}

#clear {
  background-color: #dc3545;
}

#clear:hover {
  background-color: #c82333;
}








  

/* h1 {
    margin: 0;
    
}
  
h2 {
    color: #2B3467;
}

p {
    color: #2B3467;
}

#start-screen, #quiz-screen, #end-screen {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
  }
  
  #quiz-screen ul {
    list-style: none;
    padding: 0;
  }
  
  #high-score-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* .hidden {
    display: none;
  }
   */  